// -------------------------------------------------------------------------- //
// Modules: Home
// -------------------------------------------------------------------------- //
#app {
    margin-top: 60px;
    color: #2C3E50;
    font-family: "Avenir", "Helvetica", "Arial", sans-serif;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
